body{
    background-color:greenyellow ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: rgb(26, 152, 4);
    color: whitesmoke;
    position: fixed;
    bottom: 10;
    width: 100%;
    height:2rem ;
}

footer p{
    text-align: center;
    font-size: 0.8rem;
    margin-top:0.5rem ;
}